.ready-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.5),
      rgba(46, 47, 66, 0.5)
    ),
    url(/img/bg/writing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 320px;
  padding: 36px 0;
}
.ready-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #d4af37;
  margin-bottom: 36px;
}
.ready-text {
  color: #fbfbfb;
  font-weight: 500;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.ready-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}
.ready-list-item {
  display: block;
  border: 1px solid #d4af37;
  border-radius: 16px;
  padding: 32px;
  transition: box-shadow 0.25s ease-in-out;
}
.ready-list-item .ready-text {
  text-align: center;
}

@media (min-width: 768px) {
  .ready-section {
    max-width: 768px;
  }
  .ready-list {
    flex-direction: row;
    gap: 12px;
    margin-bottom: 25px;
  }
  .ready-section {
    padding: 72px 0;
  }
  .ready-text {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .ready-section {
    max-width: 1200px;
  }
  .ready-text {
    font-size: 20px;
  }
  .ready-list-item {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .ready-list-item:hover {
    transform: translateY(-5px);
  }
}
