<section class="diffirence-section">
  <div class="container fade-in">
    <h2 class="diffirence-heading" data-i18n="diffHead">
      Чим ми відрізняємося від інших компаній?
    </h2>
    <h3 class="diffirence-text" data-i18n="diffSlogan">
      Ми — юридична фірма, а не просто "фірма з оформлення"
      <span><i class="fa-solid fa-user-tie" style="color: #d4af37"></i></span>
    </h3>
    <ul class="diffirence-list">
      <li class="diffirence-list-item">
        <h4 class="diffirence-heading-list" data-i18n="diffListHead">
          Акредитовані юристи
        </h4>
        <div class="diffirence-list-icon-container">
          <svg class="diffirence-list-icon" width="50" height="50">
            <use href="/img/icons&logo/Vector.svg#icon-judge"></use>
          </svg>
        </div>
        <p class="diffirence-text-list" data-i18n="diffListTextFirst">
          Наші юристи мають офіційну акредитацію та багаторічний досвід
        </p>
      </li>
      <li class="diffirence-list-item">
        <h4 class="diffirence-heading-list" data-i18n="diffListHeadSecond">
          Офіційне подання
        </h4>
        <div class="diffirence-list-icon-container">
          <svg class="diffirence-list-icon" width="50" height="50">
            <use href="/img/icons&logo/Vector.svg#icon-docs"></use>
          </svg>
        </div>
        <p class="diffirence-text-list" data-i18n="diffListTextSecond">
          Документи подаються офіційно, через державні установи
        </p>
      </li>
      <li class="diffirence-list-item">
        <h4 class="diffirence-heading-list" data-i18n="diffListHeadThird">
          Юридичний захист
        </h4>
        <div class="diffirence-list-icon-container">
          <svg class="diffirence-list-icon" width="50" height="50">
            <use href="/img/icons&logo/Vector.svg#icon-check"></use>
          </svg>
        </div>
        <p class="diffirence-text-list" data-i18n="diffListTextThird">
          Всі договори юридично захищені, повна прозорість процесу
        </p>
      </li>
    </ul>
    <div class="company-difference-status">
      <h3 class="diffirence-text" data-i18n="diffStatus">
        Поточний статус законопроєкту №11469
        <span
          ><i class="fa-solid fa-scale-balanced" style="color: #d4af37"></i
        ></span>
      </h3>
      <ul class="diffirence-list">
        <li class="diffirence-list-item status">
          <p class="diffirence-text-list" data-i18n="diffStatusText">
            <span class="questions-span">
              <i class="fa-solid fa-check" style="color: #228b22"></i>
            </span>
            Зареєстрований у <strong>Верховній Раді України</strong>
          </p>
        </li>
        <li class="diffirence-list-item status">
          <p class="diffirence-text-list" data-i18n="diffStatusTextSecond">
            <span class="questions-span">
              <i class="fa-solid fa-check" style="color: #228b22"></i>
            </span>
            Пройшов <strong>перше читання </strong>
          </p>
        </li>
        <li class="diffirence-list-item status">
          <p class="diffirence-text-list" data-i18n="diffStatusTextThird">
            <span class="questions-span">
              <i class="fa-solid fa-check" style="color: #228b22"></i>
            </span>
            Отримав <strong>позитивний висновок профільного комітету </strong>
          </p>
        </li>
        <li class="diffirence-list-item status">
          <p class="diffirence-text-list" data-i18n="diffStatusTextFourth">
            <span class="questions-span">
              <i class="fa-solid fa-check" style="color: #228b22"></i>
            </span>
            <strong>Схвалений у другому читанні</strong> Верховною Радою
          </p>
        </li>
      </ul>
    </div>
    <p class="diffirence-text fake" data-i18n="diffFake">
      На жаль, ринок повний "сірих" пропозицій. Фейкові документи Прискорення
      “за гроші” Шахрайство. Ми ж працюємо винятково в правовому полі. Довіра
      починається з чесності. І ми цінуємо кожного, хто обирає її.
    </p>
    <h3 class="diffirence-text">
      Наша експертиза — ваша впевненість<br />
      Grosters — це не просто юридична компанія. Ми — команда з глибокими
      академічними знаннями та практичним досвідом:
    </h3>
  </div>
</section>
