<section class="diffirence-section">
  <div class="container">
    <h2>Чим ми відрізняємося від інших компаній?</h2>
    <p>Ми — юридична фірма, а не просто "фірма з оформлення".</p>
    <ul>
      <li>
        <h3>Акредитовані юристи</h3>
        <p>Наші юристи мають офіційну акредитацію та багаторічний досвід</p>
      </li>
      <li>
        <h3>Офіційне подання</h3>
        <p>Документи подаються офіційно, через державні установи</p>
      </li>
      <li>
        <h3>Юридичний захист</h3>
        <p>Всі договори юридично захищені, повна прозорість процесу</p>
      </li>
    </ul>
    <h3>
      На жаль, ринок повний "сірих" пропозицій. Фейкові документи Прискорення
      “за гроші” Шахрайство Ми ж працюємо винятково в правовому полі Ви
      підписуєте юридичний договір Ви отримуєте всі документи від державних
      установ Болгарії Ви маєте підтвердження кожного кроку Довіра починається з
      чесності. І ми цінуємо кожного, хто обирає її.
    </h3>
  </div>
</section>
