<section class="diffirence-section">
  <div class="container fade-in">
    <h2 class="diffirence-heading">Чим ми відрізняємося від інших компаній?</h2>
    <p class="diffirence-text">
      Ми — юридична фірма, а не просто "фірма з оформлення".
    </p>
    <ul class="diffirence-list">
      <li class="diffirence-list-item">
        <h3 class="diffirence-heading-list">Акредитовані юристи</h3>
        <div class="diffirence-list-icon-container">
          <svg class="diffirence-list-icon" width="50" height="50">
            <use href="/img/icons&logo/Vector.svg#icon-judge"></use>
          </svg>
        </div>
        <p class="diffirence-text-list">
          Наші юристи мають офіційну акредитацію та багаторічний досвід
        </p>
      </li>
      <li class="diffirence-list-item">
        <h3 class="diffirence-heading-list">Офіційне подання</h3>
        <div class="diffirence-list-icon-container">
          <svg class="diffirence-list-icon" width="50" height="50">
            <use href="/img/icons&logo/Vector.svg#icon-docs"></use>
          </svg>
        </div>
        <p class="diffirence-text-list">
          Документи подаються офіційно, через державні установи
        </p>
      </li>
      <li class="diffirence-list-item">
        <h3 class="diffirence-heading-list">Юридичний захист</h3>
        <div class="diffirence-list-icon-container">
          <svg class="diffirence-list-icon" width="50" height="50">
            <use href="/img/icons&logo/Vector.svg#icon-check"></use>
          </svg>
        </div>
        <p class="diffirence-text-list">
          Всі договори юридично захищені, повна прозорість процесу
        </p>
      </li>
    </ul>
    <p class="diffirence-text">
      На жаль, ринок повний "сірих" пропозицій. Фейкові документи Прискорення
      “за гроші” Шахрайство. Ми ж працюємо винятково в правовому полі. Довіра
      починається з чесності. І ми цінуємо кожного, хто обирає її.
    </p>
  </div>
</section>
