<section class="education-section">
  <div class="container fade-in">
    <h2 class="education-heading" data-i18n="eduHead">
      Освіта, досвід, експертність
    </h2>
    <h3 class="education-text" data-i18n="eduText">
      Наша експертиза — ваша впевненість
    </h3>
    <h4 class="education-text" data-i18n="eduTextSecond">
      Grosters — це не просто юридична компанія. <br />
      Ми — команда з глибокими академічними знаннями та практичним досвідом:
    </h4>
    <ul class="education-list">
      <li class="education-list-item status">
        <p class="education-text-list" data-i18n="eduListFirst">
          Консультанти — доктори юридичних наук, судді, адвокати, нотаріуси
        </p>
      </li>
      <li class="education-list-item status">
        <p class="education-text-list" data-i18n="eduListSecond">
          Співпрацюємо з провідними університетами Болгарії, України та ЄС
        </p>
      </li>
      <li class="education-list-item status">
        <p class="education-text-list" data-i18n="eduListThird">
          Публікації у міжнародних наукових журналах
        </p>
      </li>
      <li class="education-list-item status">
        <p class="education-text-list" data-i18n="eduListFourth">
          Підтримка освітніх та наукових програм за кордоном
        </p>
      </li>
      <li class="education-list-item status">
        <p class="education-text-list" data-i18n="eduListFifth">
          Допомагаємо зі стажуванням та навчанням у Європі
        </p>
      </li>
    </ul>
    <h4 class="education-text" data-i18n="eduLTextThird">
      Ми не просто готуємо документи — ми розробляємо стратегії майбутнього для
      вас і вашої родини.
    </h4>
    <p class="education-text" data-i18n="eduLTextMore">
      Більше про наші наукові та освітні напрямки:
    </p>
    <div class="education-button-container">
      <button type="button" class="education-btn">
        <a href="https://centresipd.com" target="_blank">centresipd</a>
      </button>
      <button type="button" class="education-btn">
        <a href="https://edu.centresipd.com/" target="_blank">edu.centresipd</a>
      </button>
    </div>
  </div>
</section>
