<footer class="footer">
  <div class="container">
    <div class="footer-div">
      <div class="footer-h">
        <a href="/index.html" class="footer-logo">Grosters Company</a>
        <nav class="footer-nav">
          <ul class="footer-menu">
            <li>
              <a href="#section-pluses" class="header-list-item current"
                >Чому Болгарія?</a
              >
            </li>
            <li>
              <a href="#section-root" class="header-list-item"
                >Як отримати паспорт?</a
              >
            </li>
            <li>
              <a href="#section-questions" class="header-list-item">Питання</a>
            </li>
            <li>
              <a href="#section-reviews" class="header-list-item">Відгуки</a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <button type="button">
          <a
            href="https://www.instagram.com/grosters.company/?igsh=MTN1OGNxbG9meWZnNQ%3D%3D"
            target="_blank"
            >Наш Instagram</a
          >
        </button>
      </div>
      <div class="footer-text">
        <p class="footer-slogan">
          Хочеш паспорт ЄС без зайвих клопотів? Допомагаємо отримати
          громадянство Болгарії: Без переїзду Без знання мови Без стресу – усе
          під ключ!
        </p>
      </div>
      <div class="privacy">
        <p class="privacy-text">2025. Grosters Company</p>
        <p class="privacy-text">Privacy Police</p>
      </div>
    </div>
  </div>
</footer>
