<footer class="footer">
  <div class="container fade-in">
    <div class="footer-h">
      <a href="index.html" class="footer-logo">Grosters Company</a>
      <nav class="footer-nav"></nav>
    </div>
    <button type="button" class="footer-btn" aria-label="instagram">
      <a
        href="https://www.instagram.com/grosters.company/?igsh=MTN1OGNxbG9meWZnNQ%3D%3D"
        target="_blank"
        >Instagram</a
      >
    </button>
    <button type="button" class="footer-btn" aria-label="facebook">
      <a
        href="https://www.facebook.com/Grosters.company?mibextid=wwXIfr&rdid=iFQZECOGnOHpVaeA&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F165HRUVuaZ%2F%3Fmibextid%3DwwXIfr"
        target="_blank"
        >Facebook</a
      >
    </button>
    <button type="button" class="footer-btn" aria-label="go to main page">
      <a href="index.html" data-i18n="mainPage">Головна сторінка</a>
    </button>
    <div class="footer-text">
      <p class="footer-slogan" data-i18n="footSlogan">
        Хочеш паспорт ЄС без зайвих клопотів? Допомагаємо отримати громадянство
        ЄС:<br />
        Без переїзду<br />
        Без знання мови <br />Без стресу – усе під ключ!
      </p>
    </div>
    <div class="container-button-top" aria-label="go to top">
      <button id="myBtn" title="Go to top" data-i18n="toTop">Догори</button>
    </div>
    <div class="privacy">
      <p class="privacy-text">2025. Grosters Company</p>
      <p class="privacy-text">Privacy Police</p>
    </div>
  </div>
</footer>
