<header class="header">
  <div class="container header-container">
    <nav class="navigation-header">
      <a href="index.html" class="header-logo">Grosters Company</a>
      <ul class="header-list">
        <li>
          <a href="#section-pluses" class="header-list-item">Чому Болгарія?</a>
        </li>
        <li>
          <a href="#section-root" class="header-list-item"
            >Як отримати паспорт?</a
          >
        </li>
        <li>
          <a href="#section-questions" class="header-list-item">Питання</a>
        </li>
        <li>
          <a href="#section-reviews" class="header-list-item">Відгуки</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <ul class="header-address-list">
        <li class="header-address-list-item">
          <a href="mailto:info@devstudio.com" class="header-address-list-item"
            >info@devstudio.com</a
          >
        </li>
        <li>
          <a href="tel:+110001111111" class="header-address-list-item"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>

    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/icons&logo/Vector.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu">
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close" type="button">
        <svg class="mobile-menu-icon-close" width="8" height="8">
          <use href="/img/icons&logo/Vector.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-navigation">
        <ul class="mobile-menu-navigation-list">
          <li class="mobile-menu-navigation-list-item">
            <a href="#section-pluses" class="mobile-menu-navigation-list-link"
              >Чому Болгарія?</a
            >
          </li>
          <li class="mobile-menu-navigation-list-item">
            <a href="#section-root" class="mobile-menu-navigation-list-link"
              >Як отримати паспорт?</a
            >
          </li>
          <li class="mobile-menu-navigation-list-item">
            <a
              href="#section-questions"
              class="mobile-menu-navigation-list-link"
              >Питання</a
            >
          </li>
          <li class="mobile-menu-navigation-list-item">
            <a href="#section-reviews" class="mobile-menu-navigation-list-link"
              >Відгуки</a
            >
          </li>
        </ul>
      </nav>
      <address class="mobile-menu-address">
        <ul class="mobile-menu-address-list">
          <li class="mobile-menu-address-item">
            <a href="tel:+4733378901">+11 (000) 111-11-11</a>
          </li>
          <li class="mobile-menu-address-item">
            <a href="mailto:info@devstudio.com">info@devstudio.com</a>
          </li>
        </ul>
      </address>
      <ul class="mobile-menu-social">
        <li class="mobile-menu-social-item">
          <a
            href="https://www.instagram.com/grosters.company/?igsh=MTN1OGNxbG9meWZnNQ%3D%3D"
            target="_blank"
            class="mobile-list-svg-link"
          >
            <svg class="mobile-menu-svg" width="24" height="24">
              <use href="/img/icons&logo/Vector.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-item">
          <a
            href="https://www.facebook.com/Grosters.company?mibextid=wwXIfr&rdid=iFQZECOGnOHpVaeA&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F165HRUVuaZ%2F%3Fmibextid%3DwwXIfr"
            target="_blank"
            class="mobile-list-svg-link"
          >
            <svg class="mobile-menu-svg" width="24" height="24">
              <use href="/img/icons&logo/Vector.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
