<header class="header">
  <div class="container header-container">
    <nav class="navigation-header">
      <a href="../index.html" class="header-logo">Grosters Company</a>
      <ul class="header-list">
        <li>
          <a href="#section-pluses" class="header-list-item current"
            >Чому Болгарія?</a
          >
        </li>
        <li>
          <a href="#section-root" class="header-list-item"
            >Як отримати паспорт?</a
          >
        </li>
        <li>
          <a href="#section-questions" class="header-list-item">Питання</a>
        </li>
        <li>
          <a href="#section-reviews" class="header-list-item">Відгуки</a>
        </li>
      </ul>
    </nav>
    <div>
      <button class="burger-btn" type="button">
        <svg class="burger-icon" width="24" height="24">
          <use href="../img/icons&logo/Vector.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu">
      <div class="container mobile-menu-container">
        <button class="mobile-menu-close" type="button">
          <svg class="mobile-menu-icon-close" width="8" height="8">
            <use href="../img/icons&logo/Vector.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="mobile-menu-navigation">
          <ul class="mobile-menu-navigation-list">
            <li>
              <a href="#section-pluses" class="header-list-item current"
                >Чому Болгарія?</a
              >
            </li>
            <li>
              <a href="#section-root" class="header-list-item"
                >Як отримати паспорт?</a
              >
            </li>
            <li>
              <a href="#section-questions" class="header-list-item">Питання</a>
            </li>
            <li>
              <a href="#section-reviews" class="header-list-item">Відгуки</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
