<section class="hero-section">
  <div class="container fade-in">
    <p class="hero-text company" data-i18n="company">
      Grosters Громадянство ЄС
    </p>
    <h1 data-i18n="h1">Від мрії до паспорта</h1>
    <p class="hero-text">
      Юридична компанія, яка допомагає легально отримати громадянство ЄС — від
      консультації до паспорта🛂 <br /><br />🔹 Працюємо офіційно <br />🔹
      Індивідуальний підхід <br />🔹 500+ клієнтів уже з паспортом<br /><br />
      Хочете жити в ЄС, подорожувати без віз, дати дітям освіту в Європі?
      Переходьте за посиланням або телефонуйте вже зараз📞
    </p>
    <button type="button" class="hero-btn">
      <a
        href="https://www.instagram.com/grosters.company/?igsh=MTN1OGNxbG9meWZnNQ%3D%3D"
        target="_blank"
        >Instagram</a
      >
    </button>
  </div>
</section>
