<section class="hero-section">
  <div class="container fade-in">
    <h1>Від мрії до паспорта</h1>
    <p class="hero-text">
      Ми — команда досвідчених юристів, які допомагають людям легально отримати
      громадянство Болгарії. Наш фокус — повний юридичний супровід, від
      безкоштовної консультації до моменту, коли ви тримаєте паспорт у руках.
      Працюємо офіційно. Маємо офіси в Україні та Болгарії. Кожен кейс —
      індивідуальний підхід. Більше 500 клієнтів уже пройшли цей шлях з нами — і
      успішно! Якщо ви мріяли жити в Європі, подорожувати світом без віз, дати
      дітям освіту в ЄС — почніть із першого кроку вже сьогодні. Пишіть нам у
      Direct або переходьте за посиланням у профілі.
    </p>
    <button type="button" class="hero-btn">
      <a
        href="https://www.instagram.com/grosters.company/?igsh=MTN1OGNxbG9meWZnNQ%3D%3D"
        target="_blank"
        >Instagram</a
      >
    </button>
  </div>
</section>
