<section class="why-bulgaria" id="section-pluses">
  <div class="container">
    <h2 class="pluses-heading">Чому саме Болгарія?</h2>
    <div id="bulgaria-slider" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <h3 class="pluses-list-heading">Болгарія — ваш ключ до Європи</h3>
            <p class="pluses-list-text">
              Болгарія — це не лише гарна природа й Чорне море. Це ще й країна,
              що відкриває двері до Євросоюзу 🇪🇺 Паспорт Болгарії = 169 країн
              без віз Можливість легально працювати, вести бізнес і жити в
              будь-якій країні ЄС Подвійне громадянство дозволене — ви не
              втрачаєте своє Це — розумна інвестиція у ваше майбутнє.
            </p>
          </li>
          <li class="splide__slide">
            <h3 class="pluses-list-heading">
              Чому Болгарія, а не інші країни ЄС?
            </h3>
            <p class="pluses-list-text">
              В Італії чи Іспанії треба жити 10+ років У Німеччині — складні
              іспити А Болгарія — це: Швидко: до 12 місяців Без обов’язкового
              проживання Без втрати громадянства Без мовних тестів Ви отримуєте
              паспорт ЄС, не змінюючи кардинально свій стиль життя Для багатьох
              наших клієнтів — це найкраща альтернатива міграції
            </p>
          </li>
          <li class="splide__slide">
            <h3 class="pluses-list-heading">
              Що дає паспорт Болгарії вашим дітям?
            </h3>
            <p class="pluses-list-text">
              Європейський паспорт — це про можливості для поколінь Вступ до
              університетів ЄС без високих квот і обмежень Доступ до медичних
              послуг Соціальні гарантії Подорожі без віз Діти можуть мати доступ
              до тих самих переваг, що і діти в Німеччині чи Франції Ви
              створюєте майбутнє для своєї родини — вже зараз
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
