<section class="why-bulgaria" id="section-pluses">
  <div class="container pluses-container fade-in">
    <h2 class="pluses-heading">Чому саме Болгарія?</h2>
    <div id="bulgaria-slider" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <h3 class="pluses-list-heading">Болгарія — ваш ключ до Європи</h3>
            <p class="pluses-list-text">
              Болгарія — це не лише гарна природа й Чорне море. Це ще й країна,
              що відкриває двері до Євросоюзу. Паспорт Болгарії = 169 країн без
              віз. Можливість легально працювати, вести бізнес і жити в
              будь-якій країні ЄС. Подвійне громадянство дозволене — ви не
              втрачаєте своє. Це — розумна інвестиція у ваше майбутнє.
            </p>
          </li>
          <li class="splide__slide">
            <h3 class="pluses-list-heading">
              Чому Болгарія, а не інші країни ЄС?
            </h3>
            <p class="pluses-list-text">
              В Італії чи Іспанії треба жити 10+ років. У Німеччині — складні
              іспити. А Болгарія — це швидко: до 12 місяців, без обов’язкового
              проживання, без втрати громадянства, без мовних тестів. Ви
              отримуєте паспорт ЄС, не змінюючи кардинально свій стиль життя.
              Для багатьох наших клієнтів — це найкраща альтернатива міграції
            </p>
          </li>
          <li class="splide__slide">
            <h3 class="pluses-list-heading">
              Що дає паспорт Болгарії вашим дітям?
            </h3>
            <p class="pluses-list-text">
              Європейський паспорт — це про можливості для поколінь. Вступ до
              університетів ЄС без високих квот і обмежень. Доступ до медичних
              послуг. Соціальні гарантії, подорожі без віз, діти можуть мати
              доступ до тих самих переваг, що і діти в Німеччині чи Франції. Ви
              створюєте майбутнє для своєї родини — вже зараз
            </p>
          </li>
        </ul>
      </div>
    </div>
    <ul class="pluses-list">
      <li class="pluses-list-item">
        <h3 class="pluses-heading-list">
          Болгарія — ваш ключ до Європи
          <span><i class="fa-solid fa-key" style="color: #d4af37"></i></span>
        </h3>
        <p class="pluses-text-list">
          Болгарія — це не лише гарна природа й Чорне море. Це ще й країна, що
          відкриває двері до Євросоюзу. Паспорт Болгарії = 169 країн без віз.
          Можливість легально працювати, вести бізнес і жити в будь-якій країні
          ЄС. Подвійне громадянство дозволене — ви не втрачаєте своє. Це —
          розумна інвестиція у ваше майбутнє.
        </p>
      </li>
      <li class="pluses-list-item">
        <h3 class="pluses-heading-list">
          Чому Болгарія, а не інші країни ЄС?<span
            ><i class="fa-solid fa-earth-europe" style="color: #d4af37"></i
          ></span>
        </h3>
        <p class="pluses-text-list">
          В Італії чи Іспанії треба жити 10+ років. У Німеччині — складні
          іспити. А Болгарія — це швидко: до 12 місяців, без обов’язкового
          проживання, без втрати громадянства, без мовних тестів. Ви отримуєте
          паспорт ЄС, не змінюючи кардинально свій стиль життя. Для багатьох
          наших клієнтів — це найкраща альтернатива міграції
        </p>
      </li>
      <li class="pluses-list-item">
        <h3 class="pluses-heading-list">
          Що дає паспорт Болгарії вашим дітям?
          <span
            ><i class="fa-solid fa-passport" style="color: #d4af37"></i
          ></span>
        </h3>
        <p class="pluses-text-list">
          Болгарія — це не лише гарна природа й Чорне море. Це ще й країна, що
          відкриває двері до Євросоюзу. Паспорт Болгарії = 169 країн без віз.
          Можливість легально працювати, вести бізнес і жити в будь-якій країні
          ЄС. Подвійне громадянство дозволене — ви не втрачаєте своє. Це —
          розумна інвестиція у ваше майбутнє.
        </p>
      </li>
    </ul>
  </div>
</section>
