<section class="questions-section" id="section-questions">
  <div class="container">
    <h2 class="questions-heading">Часті питання та міфи</h2>
    <div class="accordion">
      <div class="accordion-item">
        <button class="accordion-button">Чи потрібна болгарська мова?</button>
        <div class="accordion-content">
          Ні — для коріння чи інвесторів не потрібно
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-button">Чи треба переїжджати?</button>
        <div class="accordion-content">
          Ні! Програма не вимагає проживання в Болгарії.
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-button">Це легально?</button>
        <div class="accordion-content">
          Так — працюємо лише в межах законодавства Болгарії
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-button">
          Міф: “Це довго, складно, нереально”
        </button>
        <div class="accordion-content">
          Ні, до 12 місяців і з нашою допомогою — це просто
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-button">
          Міф: “Треба знати мову й переїжджати”
        </button>
        <div class="accordion-content">
          Ні. Це не обов’язково за програмою по корінню
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-button">Міф: “Це дорого”</button>
        <div class="accordion-content">
          У нас доступні тарифи з розтермінуванням
        </div>
      </div>
    </div>
    <ul class="questions-list">
      <li class="questions-list-item">
        <h3 class="questions-list-heading">Чи потрібна болгарська мова?</h3>
        <p class="questions-list-text">
          <span class="questions-span">
            <i class="fa-solid fa-xmark" style="color: #ff0000"></i>
          </span>
          Ні! Програма не вимагає проживання в Болгарії.
        </p>
      </li>
      <li class="questions-list-item">
        <h3 class="questions-list-heading">Чи треба переїжджати?</h3>
        <p class="questions-list-text">
          <span class="questions-span">
            <i class="fa-solid fa-xmark" style="color: #ff0000"></i>
          </span>
          Ні! Програма не вимагає проживання в Болгарії.
        </p>
      </li>
      <li class="questions-list-item">
        <h3 class="questions-list-heading">Це легально?</h3>
        <p class="questions-list-text">
          <span class="questions-span">
            <i class="fa-solid fa-check" style="color: #63e6be"></i>
          </span>
          Так — працюємо лише в межах законодавства Болгарії
        </p>
      </li>
      <li class="questions-list-item">
        <h3 class="questions-list-heading">
          Міф: “Це довго, складно, нереально”
        </h3>
        <p class="questions-list-text">
          <span class="questions-span">
            <i class="fa-solid fa-xmark" style="color: #ff0000"></i>
          </span>
          Ні, до 12 місяців і з нашою допомогою — це просто
        </p>
      </li>
      <li class="questions-list-item">
        <h3 class="questions-list-heading">
          Міф: “Треба знати мову й переїжджати”
        </h3>
        <p class="questions-list-text">
          <span class="questions-span"
            ><i class="fa-solid fa-xmark" style="color: #ff0000"></i
          ></span>
          Ні. Це не обов’язково за програмою по корінню
        </p>
      </li>
      <li class="questions-list-item">
        <h3 class="questions-list-heading">Міф: “Це дорого”</h3>
        <p class="questions-list-text">
          <span class="questions-span">
            <i class="fa-solid fa-money-bill" style="color: #63e6be"></i>
          </span>
          У нас доступні тарифи з розтермінуванням
        </p>
      </li>
    </ul>
  </div>
</section>
