<section class="reviews-sect" id="section-reviews">
  <div class="container fade-in">
    <h2 class="reviews">Відгуки наших клієнтів — найкраща рекомендація</h2>
    <p class="reviews-text">
      Ми — юридична фірма, а не просто "фірма з оформлення". <br />
      📌 Наші юристи акредитовані <br />📌 Документи подаються офіційно, через
      державні установи <br />📌 Всі договори — юридично захищені <br />🛑 Ми не
      працюємо "по знайомству", не обіцяємо “в обхід закону” <br />💡 Наш
      головний інструмент — право і досвід, а не “зв’язки” Вибирай легальність =
      спокійне майбутнє
    </p>
    <div class="swiper reviews-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide reviews-slide reviews-text">
          <p class="swiper-text-reviews">
            Працюють з повагою до клієнта. Допомогли не лише мені, а й моїм
            батькам.
          </p>
          <div class="swiper-user-reviews">
            <img
              src="/img/team/img.jpg"
              alt=""
              width="48"
              height="48"
              class="swiper-image-reviews"
            />
            <div class="swiper-name-container-reviews">
              <p class="swiper-name-reviews">Андрій С., Одеса</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slide reviews-text">
          <p class="swiper-text-reviews">
            Професійний підхід. Отримав не лише документи, а й повну
            консультацію
          </p>
          <div class="swiper-user-reviews">
            <img
              src="/img/team/img-3.jpg"
              alt=""
              width="48"
              height="48"
              class="swiper-image-reviews"
            />
            <div class="swiper-name-container-reviews">
              <p class="swiper-name-reviews">Олег В., Львів</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slide reviews-text">
          <p class="swiper-text-reviews seva">
            Дякую команді за повний супровід! Усе прозоро, швидко й офіційно.
          </p>
          <div class="swiper-user-reviews">
            <img
              src="/img/team/img-2.jpg"
              alt=""
              width="48"
              height="48"
              class="swiper-image-reviews"
            />
            <div class="swiper-name-container-reviews">
              <p class="swiper-name-reviews">Всеволод М., Київ</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slide reviews-text">
          <p class="swiper-text-reviews">
            Отримала громадянство за 11 місяців. Усе чітко по етапах, як і
            обіцяли.
          </p>
          <div class="swiper-user-reviews">
            <img
              src="/img/team/img-1.jpg"
              alt=""
              width="48"
              height="48"
              class="swiper-image-reviews"
            />
            <div class="swiper-name-container-reviews">
              <p class="swiper-name-reviews">Марія Л., Харків</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="controls controls-for-swiper">
      <div class="pagination-for-swiper"></div>
      <div class="buttons buttons-for-swiper">
        <button
          class="swiper-button button-prev reviews-btn"
          type="button"
          aria-label="Swiper previous"
        >
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button
          class="swiper-button button-next reviews-btn"
          type="button"
          aria-label="Swiper next"
        >
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
