<section class="reviews-sect" id="section-reviews">
  <div class="container fade-in">
    <h2 class="reviews">Наші відгуки</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <img
          srcset="/img/team/img-3.jpg 1x, /img/team/img@2x-3.jpg 2x"
          src="/img/team/img-3.jpg"
          alt="Владислав, 27 років, Чернівці"
          width="264"
          height="260"
          class="reviews-list-img"
        />
        <div class="reviews-list-text-container">
          <h3 class="reviews-list-heading name">Іван, 27 років, Львів</h3>
          <p class="reviews-list-text job">
            "Grosters — це не просто сервіс, це команда, яка реально бореться за
            результат. Я отримав паспорт Болгарії через 11 місяців. І головне —
            я знав, що все по закону. Рекомендую всім, хто хоче легальність і
            спокій."
          </p>
        </div>
      </li>
      <li class="reviews-list-item">
        <img
          srcset="/img/team/img-2.jpg 1x, /img/team/img@2x-2.jpg 2x"
          src="/img/team/img-2.jpg"
          alt="Олег,27 років, Полтава"
          width="264"
          height="260"
          class="reviews-list-img"
        />
        <div class="reviews-list-text-container">
          <h3 class="reviews-list-heading name">Олег, 27 років, Полтава</h3>
          <p class="reviews-list-text job">
            "Я мав поганий досвід з іншою фірмою, тому дуже переживав. Але тут
            усе інакше: офіційний договір, адвокат, постійний зв’язок. Навіть по
            відеозв’язку допомагали. Нарешті знайшов компанію, якій можна
            довіряти."
          </p>
        </div>
      </li>
      <li class="reviews-list-item">
        <img
          srcset="/img/team/img-1.jpg 1x, /img/team/img@2x-1.jpg 2x"
          src="/img/team/img-1.jpg"
          alt="Олена, 33 роки, Київ"
          width="264"
          height="260"
          class="reviews-list-img"
        />
        <div class="reviews-list-text-container">
          <h3 class="reviews-list-heading name">Олена, 33 роки, Київ</h3>
          <p class="reviews-list-text job">
            "Я навіть не уявляла, що маю болгарське коріння. Команда Grosters
            допомогла знайти документи моєї бабусі, про яких ми майже нічого не
            знали. Через 10 місяців я отримала паспорт. Усе — прозоро, офіційно,
            без зайвих нервів. Дуже вдячна!"
          </p>
        </div>
      </li>
      <li class="reviews-list-item">
        <img
          srcset="/img/team/img.jpg 1x, /img/team/img@2x.jpg 2x"
          src="/img/team/img.jpg"
          alt="Артем, 25 років, Київ"
          width="264"
          height="260"
          class="reviews-list-img"
        />
        <div class="reviews-list-text-container">
          <h3 class="reviews-list-heading name">Артем, 25 років, Київ</h3>
          <p class="reviews-list-text job">
            "Я звернувся до Grosters, бо хотів дати свому сину європейську
            освіту. Нам усе пояснили, перевірили родовід, оформили документи.
            Дуже спокійно і професійно. Уже готуємось до подачі!"
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
