<section class="root-section" id="section-root">
  <div class="container advantages-container fade-in">
    <h2 class="root-heading" data-i18n="rootHead">
      Як отримати паспорт по корінню?
    </h2>
    <p class="root-text" data-i18n="rootHeadText1">
      Це — не міф, а реальність! Ви можете стати громадянином ЄС усього за рік.
      Найшвидший і легальний шлях — походження (коріння). Якщо у вас у роду були
      болгари — ми допоможемо:
    </p>

    <div class="advantages-root">
      <ul class="advantages-list">
        <li class="advantages-item">
          <h3 class="advantages-header">01</h3>
          <p class="advantages-text advantages-text-one" data-i18n="rootItem1">
            Встановити родинний зв’язок
          </p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-header">02</h3>
          <p class="advantages-text" data-i18n="rootItem2">
            Знайти документи у болгарських архівах
          </p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-header">03</h3>
          <p class="advantages-text" data-i18n="rootItem3">
            Підготувати повний пакет документів
          </p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-header">04</h3>
          <p class="advantages-text" data-i18n="rootItem4">
            Перекласти, легалізувати, подати
          </p>
        </li>
      </ul>
      <img
        src="/img/lion-desk.jpg"
        alt="lion sitting at the desk"
        width="400"
        class="root-img"
      />
    </div>
    <div>
      <p class="root-text" data-i18n="rootHeadText2">
        Процес виглядає складно, але ми зробимо все за вас. Вам залишиться лише
        дочекатись позитивного рішення — і отримати паспорт. Напишіть нам -
        безкоштовна перевірка по корінню вже сьогодні!
      </p>
    </div>
  </div>
</section>
