<section>
  <div class="container">
    <h2>Що робити вже сьогодні?</h2>
    <p>
      Якщо ви дочитали досі — ви вже зробили перший крок! Що далі? Напишіть у
      Direct — ми перевіримо, чи підходить вам програма Отримайте безкоштовну
      консультацію Оберіть оптимальний шлях Підпишіть договір — і ми беремо
      справу під свій контроль Ваш паспорт = ваша свобода Дійте сьогодні — не
      відкладайте на “потім”
    </p>
    <a
      href="https://www.instagram.com/grosters.company/?igsh=MTN1OGNxbG9meWZnNQ%3D%3D"
      target="_blank"
    >
      Instagram</a
    >
  </div>
</section>
