.diffirence-section {
  max-width: 320px;
  padding: 36px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.5),
      rgba(46, 47, 66, 0.5)
    ),
    url(/img/bg/office-dark.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 10px;
}
.diffirence-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #d4af37;
  margin-bottom: 36px;
}
.diffirence-text {
  text-align: center;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.fake {
  text-align: start;
}
.diffirence-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-bottom: 36px;
}
.diffirence-list-item {
  padding: 10px;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 #d4af37, 0 1px 1px 0 #d4af37, 0 1px 6px 0 #d4af37;
  border: 1px solid #fbfbfb;
  background-color: #fbfbfb;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
}
.diffirence-heading-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #242424;
  margin-bottom: 8px;
}
.diffirence-list-icon-container {
  justify-content: center;
  display: flex;
  margin-bottom: 8px;
}
.diffirence-list-icon {
  fill: #d4af37;
}
.diffirence-text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #242424;
}
@media (min-width: 768px) {
  .diffirence-section {
    max-width: 768px;
    padding: 72px 0;
  }
  .diffirence-text {
    margin-bottom: 32px;
  }
  .diffirence-list {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .diffirence-section {
    max-width: 1200px;
  }
  .diffirence-list {
    gap: 36px;
  }
}
