.why-bulgaria {
  padding: 36px 0;
}
.splide__slide {
  padding: 20px;
  font-size: 1rem;
  line-height: 1.6;
}
.pluses-heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.pluses-list-heading {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.pluses-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 8px;
}
.splide__arrow {
  display: none;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ffd700;
  background-color: transparent;
  border-radius: 50%;
  z-index: 10;
}
.splide__arrow svg {
  fill: #ffd700;
  width: 1.5rem;
  height: 1.5rem;
}
.splide__arrow--prev {
  left: -1rem;
}

.splide__arrow--next {
  right: -2rem;
}
.splide__pagination {
  margin-top: 1rem;
  position: relative;
  bottom: auto;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.splide__pagination__page {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.splide__pagination__page.is-active {
  opacity: 1;
  background: #ffd700;
}

@media (min-width: 768px) {
  .why-bulgaria {
    padding: 60px 40px;
  }

  .pluses-heading {
    font-size: 32px;
  }

  .splide__slide {
    padding: 32px;
  }

  .pluses-list-heading {
    font-size: 20px;
  }

  .pluses-list-text {
    font-size: 18px;
  }

  .splide__arrow--prev {
    left: -24px;
  }

  .splide__arrow--next {
    right: -24px;
  }
}
@media (min-width: 1200px) {
  .why-bulgaria {
    padding: 80px 0;
  }

  .pluses-heading {
    font-size: 40px;
    text-align: center;
    color: #ffd700;
  }
  .splide__slide {
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 40px 48px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  .pluses-list-heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #ffd700;
  }
  .pluses-list-text {
    font-size: 20px;

    line-height: 1.6;
  }
  .splide__pagination__page {
    width: 12px;
    height: 12px;
    background-color: #999;
  }
  .splide__pagination__page.is-active {
    background-color: #ffd700;
  }
}
