.why-bulgaria {
  background-image: url(/img/lion-crowd-dark.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 36px 0;
  max-width: 320px;
  margin: 0 auto;
}
.pluses-list {
  display: none;
}
.splide__slide {
  padding: 20px;
  font-size: 1rem;
  line-height: 1.6;
}
.pluses-heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.pluses-list-heading {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.pluses-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fbfbfb;
  margin-bottom: 8px;
}
.splide__arrow {
  display: none;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #d4af37;
  background-color: transparent;
  border-radius: 50%;
  z-index: 10;
}
.splide__slide {
  background: rgba(0, 0, 0, 0.3);
}
.splide__arrow svg {
  fill: #d4af37;
  width: 1.5rem;
  height: 1.5rem;
}
.splide__arrow--prev {
  left: -1rem;
}

.splide__arrow--next {
  right: -2rem;
}
.splide__pagination {
  margin-top: 1rem;
  position: relative;
  bottom: auto;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.splide__pagination__page {
  width: 10px;
  height: 10px;
  background: #fbfbfb;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.splide__pagination__page.is-active {
  opacity: 1;
  background: #d4af37;
}

@media (min-width: 768px) {
  .why-bulgaria {
    max-width: 768px;
    padding: 72px 0px;
  }
  .pluses-heading {
    font-size: 32px;
  }
  .splide__slide {
    padding: 32px;
  }
  .pluses-list-heading {
    font-size: 20px;
  }
  .pluses-list-text {
    font-size: 18px;
    text-align: center;
  }
  .splide__arrow--prev {
    left: -24px;
  }
  .splide__arrow--next {
    right: -24px;
  }
}
@media (min-width: 1200px) {
  .why-bulgaria {
    max-width: 1200px;
  }
  .pluses-text-list {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #242424;
  }
  .pluses-heading-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #242424;
    margin-bottom: 8px;
  }
  .pluses-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 36px;
  }
  .pluses-list-item {
    padding: 10px;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 #d4af37, 0 1px 1px 0 #d4af37, 0 1px 6px 0 #d4af37;
    border: 1px solid #fbfbfb;
    background-color: #fbfbfb;
  }
  .pluses-list {
    gap: 36px;
  }
  .why-bulgaria {
    padding: 72px 0;
  }
  .splide {
    display: none;
  }
  .pluses-heading {
    font-size: 40px;
    text-align: center;
    color: #d4af37;
    margin-bottom: 64px;
  }
  .fa-solid {
    margin-left: 3px;
  }
}
