.questions-section {
  padding: 36px 0;
}
.questions-list {
  display: none;
}
.questions-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #d4af37;
  margin-bottom: 36px;
}

.accordion-button {
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fbfbfb;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  font-size: 0.95rem;
  color: #d4af37;
  transition: max-height 0.3s ease;
}
@media (min-width: 768px) {
  .questions-section {
    padding: 72px 0px;
  }

  .questions-heading {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .accordion-button {
    font-size: 20px;
    padding: 20px 24px;
  }

  .accordion-content {
    font-size: 18px;
    padding: 0 24px;
  }

  .accordion-item.active .accordion-content {
    padding: 20px 24px;
  }

  .accordion {
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .questions-section {
    max-width: 1000px;
    margin: 0 auto;
  }
  .accordion {
    display: none;
  }
  .questions-list {
    display: block;
  }
  .questions-list-item::before {
    content: '';
    display: block;
    margin: 18px 0;
    border-radius: 18px;
    height: 2px;
    background: #fbfbfb;
  }
  .questions-list-item::after {
    content: '';
    display: block;
    margin: 18px 0;
    border-radius: 18px;
    height: 2px;
    background: #fbfbfb;
  }
  .questions-span {
    margin-right: 3px;
  }
  .questions-list-heading {
    color: #fbfbfb;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .questions-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}
