.questions-section {
  padding: 36px 0;
}
.questions-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffd700;
  margin-bottom: 36px;
}

.accordion-button {
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  font-size: 0.95rem;
  color: #ffd700;
  transition: max-height 0.3s ease;
}
