.reviews-sect {
  padding: 36px 0;
}
.reviews {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #d4af37;
  margin-bottom: 36px;
}
.reviews-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
}
.reviews-list-item {
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 #d4af37, 0 1px 1px 0 #d4af37, 0 1px 6px 0 #d4af37;
  border: 1px solid #fbfbfb;
  background-color: #fbfbfb;
}
.reviews-list-text-container {
  padding: 32px 5px;
}
.reviews-list-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #242424;
  margin-bottom: 8px;
}
.reviews-list-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #242424;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .reviews-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}
